@model ManagmentCinema.Models.Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.designation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a> |
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.IdG">Edit</a>
</div>
